<div class="col">
  <div class="card h-100">
    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.slug }}">
    <div class="card-body">
      <h5 class="card-title">{{ product }}</h5>
      <span>{{ product.rate|default_if_none:"unrated" }}</span>
      <p class="text-end">{{ product.price|floatformat:"2" }} UAH</p>
      <p class="card-text">{{ product.description|truncatewords:"10" }}</p>
      {% if product.quantity == 0 %}
        <small class="text-muted">Not available</small>
      {% endif %}
    </div>
    <div class="card-footer">
      <small class="d-flex text-muted">{{ product.category }}</small>
      <div class="text-end">
        Reviews: <span class="badge  bg-secondary">{{ product.reviews.count }}</span>
      </div>
      <div class="d-flex">
        <a href="{% url "detail" slug=product.slug %}" class="btn btn-outline-primary">View Details</a>
      </div>
    </div>
  </div>
</div>