{% extends "base.html" %}
{% block doctitle %}Product detail|  {{ block.super }}{% endblock %}
{% block content %}
    <form  method="post">
    {% csrf_token %}

    </form>
    <div>
    <ul>

        <li>{{form}}</li>

        {% for review in object.reviews.all %}
        <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ review.rate }}</div>
            {{ review.review }}
          </div>
        </li>
      {% endfor %}

        <li><button type="submit">Submit</button></li>

        <li><a href="{% url "product_list" %}">Product list</a></li>
        <li><a href="{% url "order-create" %}">Make order</a></li></div>

    </ul>



{% endblock %}
